<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="container">
        <div class="container_Main">
            <a href="User.html"><img src="../img/user.svg" alt="user"></a>
            <a href="main.html"><img src="../img/house.svg" alt="house"></a>
            <a href="notas.html"><img src="../img/notes.svg" alt="notes"></a>
            <a href="retos.html"><img src="../img/challenges.svg" alt="retos"> </a>
            <a href="searcher.html"><img src="../img/searcher.svg" alt="searcher"></a>
            <a href="setting.html"><img src="../img/settings.svg" alt="settings"></a>
        </div>

        <div class="container_Planet_Text">
            <div class="containerOne">
                <div class="card">
                    <div class="evolution">
                        <img src="../img/porcentaje.png" alt="porcentaje" class="One">
                        <h2>Your evolution</h2>
                    </div>

                    <div class="habitantes">
                        <img src="../img/habitantes.png" alt="habitantes" class="Two">
                        <h2>Your inhabitants</h2>
                    </div>


                </div>
                <div class="container_Text">
                    <p>Working for <br> a better <br> world</p>
                    <p2>Every little grain of sand counts.</p2>
                </div>
            </div>
            <div class="container_Img_Planet">
                <!-- From Uiverse.io by Lakshay-art -->
                <div class="section-banner">
                    <div id="star-1">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-2">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-3">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-4">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-5">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-6">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>

                    <div id="star-7">
                        <div class="curved-corner-star">
                            <div id="curved-corner-bottomright"></div>
                            <div id="curved-corner-bottomleft"></div>
                        </div>
                        <div class="curved-corner-star">
                            <div id="curved-corner-topright"></div>
                            <div id="curved-corner-topleft"></div>
                        </div>
                    </div>
                </div>

                <img src="../img/sombra.png" alt="sombra">

            </div>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>