<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retos</title>
    <link rel="stylesheet" href="../css/retos.css">
</head>
<body>
    <div class="container">
        <div class="container_Main">
            <img src="../img/user.svg" alt="user">
            <img src="../img/house.svg" alt="house">
            <img src="../img/notes.svg" alt="notes" data-url="notas.html">
            <img src="../img/numbers.svg" alt="numbers">
            <img src="../img/magnifying glass.svg" alt="magnifying glass">
            <img src="../img/settings.svg" alt="settings">
        </div>
        <div class="container_Retos">
            <div class="column">
                <div class="box">Shower in less than 5 minutes. 🚿</div>
                <div class="box">Don’t use paper napkins or towels. 🏡</div>
                <div class="box">Turn off the tap while brushing your teeth. 🚰</div>
                <div class="box">Sort your waste properly every day. 🔄</div>
            </div>
            <div class="column">
                <div class="box">Use only natural light during the day. ☀️</div>
                <div class="box">Walk instead of driving for short trips. 🚶</div>
                <div class="box">Unplug everything before leaving home. 🔌</div>
                <div class="box">Don’t accept plastic bags when shopping. 🛍️</div>
            </div>

        </div>

        <script src="../js/script.js"></script> <!-- Se carga el archivo JS -->
</body>
</html>