<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searcher</title>
    <link rel="stylesheet" href="../static/css/searcher.css">
</head>
<body>
    
    <div class="container">
        <div class="container_Main">
            <a href="/templates/User.html"><img src="../static/img/user.svg" alt="user"></a>
            <a href="/templates/main.html"><img src="../static/img/house.svg" alt="house"></a>
            <a href="/templates/notas.html"><img src="../static/img/notes.svg" alt="notes"></a>
            <a href="/templates/retos.html"><img src="../static/img/challenges.svg" alt="retos"> </a>
            <a href="/templates/searcher.html"><img src="../static/img/searcher.svg" alt="searcher"></a>
            <a href="/templates/setting.html"><img src="../static/img/settings.svg" alt="settings"></a>
        </div>

        <div class="encyclopedia-container">
            <h1>Enciclopedia</h1>
            <div class="book-list">
                <a href="topic.html?theme=1" class="book">
                    <div class="book-cover">
                        <span class="book-title">Como cuidar el agua?</span>
                    </div>
                </a>
                <a href="libro.html?theme=2" class="book">
                    <div class="book-cover">
                        <span class="book-title">Como cuidar la luz?</span>
                    </div>
                </a>
                <a href="libro.html?theme=3" class="book">
                    <div class="book-cover">
                        <span class="book-title">Como cuidar el aire?</span>
                    </div>
                </a>
                <a href="libro.html?theme=4" class="book">
                    <div class="book-cover">
                        <span class="book-title">Como cuidar la tierra?</span>
                    </div>
                </a>
                <a href="libro.html?theme=5" class="book">
                    <div class="book-cover">
                        <span class="book-title">Aprende más... </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>