<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaia</title>
    <link rel="stylesheet" href="../static/css/signUp.css">
    <script src="../static/js/app.js"></script>

</head>

<body>

    <div class="container">
        
        <div class="container_signUp"> 

            <div class="One">    
                
                <h3>GAIA</h3>
                <a href="/login" class="logIn">Log in</a>


            </div>

            <div class="Two">


                <h2>Sign up</h2>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="error-message">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>  
                    {% endif %}
                {% endwith %}
    
                <form class="singUp-form" action="/registro" method="POST">

                    <div class="container_inputs">
                        <input type="text" name="username" placeholder=" Username" class="input_field" required>

                        <input type="email" name="email" placeholder="e-mail address" class="input_field" required>

                        <input type="password" name="password" id="password" placeholder="Password" class="input_field">
                        <i class="toggle-password" id="togglePassword"></i>
                    </div>

                    <div class="slider-container" onclick="toggleSlider()">
                        <div class="slider-btn" id="sliderBtn">
                            <button type="submit">
                                <img src="../static/img/btn_Flecha.svg" alt="btn">
                            </button>
                        </div>
                    </div>
                </form>
                

            </div>

                

        </div>

    </div>


</body>

</html>
