<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
    <div class="container">
        <div class="container_Main">
            <a href="/templates/User.html"><img src="../static/img/user.svg" alt="user"></a>
            <a href="/templates/main.html"><img src="../static/img/house.svg" alt="house"></a>
            <a href="/templates/notas.html"><img src="../static/img/notes.svg" alt="notes"></a>
            <a href="/templates/retos.html"><img src="../static/img/challenges.svg" alt="retos"> </a>
            <a href="/templates/searcher.html"><img src="../static/img/searcher.svg" alt="searcher"></a>
            <a href="/templates/setting.html"><img src="../static/img/settings.svg" alt="settings"></a>
        </div>

        <div class="user-container">
            <div class="profile-picture" data-initials="NU"></div>
            <div class="user-info">
                <h2>Nombre de Usuario</h2>
                <a href="#" class="edit-link">Editar nombre</a>
                <div class="profile-actions">
                    <a href="#" class="action-link">Cambiar de imagen</a>
                </div>
                <div class="user-details">
                    <div class="detail-item">
                        <span class="label">ID:</span>
                        <span class="value">11651803</span>
                    </div>
                    <div class="detail-item">
                        <span class="label">Etiqueta:</span>
                        <span class="value">Protector del mar</span>
                    </div>
                    <div class="detail-item">
                        <span class="label">Fecha de nacimiento:</span>
                        <span class="value">18/03/1982</span>
                    </div>
                    <div class="detail-item">
                        <span class="label">País:</span>
                        <span class="value">Colombia</span>
                    </div>
                    <div class="detail-item">
                        <span class="label">Idioma:</span>
                        <span class="value">español (España, alfabetización internacional)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>